In [1]:
#!pip install node
#!pip install npm
#!pip install sodapy
from sodapy import Socrata
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import os
import datetime
import csv

from config import austin_key
from config import austin_app

In [2]:
app_token= austin_app

url = "https://data.austintexas.gov/resource/fdj4-gpfu.json?"
#crime_history = pd.DataFrame()
i=1
for i in range (1, 15):
    
    app_token= austin_app
    crime= "DEL CONTROLLED SUB/NARCOTIC"


    query_url = f"{url}$$app_token={app_token}&$limit=50000&$offset={50000*i}"
    response = requests.get(query_url).json()
    if i == 1:
        crime_history=pd.DataFrame(response)
        
    else:
        
        crime_history=crime_history.append(response)
crime_history.count()

incident_report_number         700000
crime_type                     700000
ucr_code                       700000
family_violence                700000
occ_date_time                  700000
occ_date                       700000
occ_time                       700000
rep_date_time                  700000
rep_date                       700000
rep_time                       700000
location_type                  696729
address                        700000
zip_code                       694767
council_district               692861
sector                         696460
district                       696308
pra                            695471
clearance_status               629489
clearance_date                 629479
ucr_category                   242157
category_description           242157
x_coordinate                   695764
y_coordinate                   695764
latitude                       686006
longitude                      686006
location                       686006
:@computed_region_a3it_2a2z    685987
:@computed_region_8spj_utxs    683907
:@computed_region_q9nd_rr82    684724
:@computed_region_qwte_z96m    364223
census_tract                   178725
dtype: int64

In [3]:
moon_df = pd.read_csv("moon-phase-calendar-landscape_copy.csv")
moon_df = pd.DataFrame(moon_df)
moon_df = moon_df.drop(columns=['Unnamed: 3', 'Unnamed: 4'])
moon_df.head()
#change to date time object and rename column
moon_df['Local Date']= pd.to_datetime(moon_df['Local Date'])

moon_df.head()

     Lunar Phase Local Date Local Time
0       New Moon 2014-01-01       5:15
1  First Quarter 2014-01-07      21:40
2      Full Moon 2014-01-15      22:53
3   Last Quarter 2014-01-23      23:21
4       New Moon 2014-01-30      15:40

In [4]:
crime_df = pd.DataFrame(crime_history)
crime_df.head()
#if you want to group your data by time you have to do resample not .groupby(), can resample by days or by months, check time example pushed out last week
#compare if crime occurs more at night consistently vs increasing during full moon
#could sample by moon phase or day date 
#pick 10 full moon days and compare count to 10 non full moon days

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,occ_date,occ_time,rep_date_time,rep_date,rep_time,...,x_coordinate,y_coordinate,latitude,longitude,location,:@computed_region_a3it_2a2z,:@computed_region_8spj_utxs,:@computed_region_q9nd_rr82,:@computed_region_qwte_z96m,census_tract
0,20205034145,BURGLARY OF VEHICLE,601,N,2020-08-28T19:00:00.000,2020-08-28T00:00:00.000,1900,2020-08-28T21:18:00.000,2020-08-28T00:00:00.000,2118,...,3096470,3096470,30.34945923,-97.79720409,"{'latitude': '30.34945923', 'longitude': '-97....",3260,10,5,NaN,NaN
1,20202411278,FAMILY DISTURBANCE,3400,N,2020-08-28T18:57:00.000,2020-08-28T00:00:00.000,1857,2020-08-28T18:57:00.000,2020-08-28T00:00:00.000,1857,...,3106090,3106090,30.24060511,-97.76959056,"{'latitude': '30.24060511', 'longitude': '-97....",2859,3,3,NaN,NaN
2,20202411275,ASSAULT BY CONTACT FAM/DATING,902,Y,2020-08-28T18:55:00.000,2020-08-28T00:00:00.000,1855,2020-08-28T18:55:00.000,2020-08-28T00:00:00.000,1855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20202411238,DISTURBANCE - OTHER,3401,N,2020-08-28T18:50:00.000,2020-08-28T00:00:00.000,1850,2020-08-28T18:50:00.000,2020-08-28T00:00:00.000,1850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20205034127,BURGLARY OF VEHICLE,601,N,2020-08-28T18:47:00.000,2020-08-28T00:00:00.000,1847,2020-08-28T18:47:00.000,2020-08-28T00:00:00.000,1847,...,3113585,3113585,30.2864488,-97.74462039,"{'latitude': '30.2864488', 'longitude': '-97.7...",2860,9,10,952,NaN

In [5]:
crime_clean_df = crime_df[["crime_type", "occ_date_time", "occ_date", "occ_time", "rep_date"]].copy()
#checking if occurence is actualy date/time
#crime_clean_df.dtypes
#convert to datetime object 
#pd.to_datetime(crime_clean_df['occ_date_time'])
#put back into dataframe overwrite column
crime_clean_df['occ_date_time']= pd.to_datetime(crime_clean_df['occ_date_time'])
crime_clean_df['occ_date']= pd.to_datetime(crime_clean_df['occ_date'])

crime_clean_df.head()

,crime_type,occ_date_time,occ_date,occ_time,rep_date
0,BURGLARY OF VEHICLE,2020-08-28 19:00:00,2020-08-28,1900,2020-08-28T00:00:00.000
1,FAMILY DISTURBANCE,2020-08-28 18:57:00,2020-08-28,1857,2020-08-28T00:00:00.000
2,ASSAULT BY CONTACT FAM/DATING,2020-08-28 18:55:00,2020-08-28,1855,2020-08-28T00:00:00.000
3,DISTURBANCE - OTHER,2020-08-28 18:50:00,2020-08-28,1850,2020-08-28T00:00:00.000
4,BURGLARY OF VEHICLE,2020-08-28 18:47:00,2020-08-28,1847,2020-08-28T00:00:00.000

In [6]:
#whatever one is typed first is the left df

crime_moon_df= crime_clean_df.merge(moon_df, left_on='occ_date', right_on='Local Date', how='left')
crime_moon_df.sample(50)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
548425,THEFT BY SHOPLIFTING,2015-07-22 16:42:00,2015-07-22,1642,2015-07-22T00:00:00.000,NaN,NaT,NaN
166819,ABUSE OF 911,2019-01-26 14:30:00,2019-01-26,1430,2019-01-26T00:00:00.000,NaN,NaT,NaN
104705,DWI 2ND,2019-08-25 16:40:00,2019-08-25,1640,2019-08-25T00:00:00.000,NaN,NaT,NaN
265907,EVADING VEHICLE,2018-02-09 09:04:00,2018-02-09,904,2018-02-09T00:00:00.000,NaN,NaT,NaN
491672,CUSTODY ARREST TRAFFIC WARR,2016-01-20 22:19:00,2016-01-20,2219,2016-01-20T00:00:00.000,NaN,NaT,NaN
277422,STALKING,2017-12-27 10:46:00,2017-12-27,1046,2017-12-27T00:00:00.000,NaN,NaT,NaN
129816,FAMILY DISTURBANCE,2019-06-03 03:30:00,2019-06-03,330,2019-06-03T00:00:00.000,New Moon,2019-06-03,5:02
401025,THEFT,2016-11-07 13:31:00,2016-11-07,1331,2016-11-07T00:00:00.000,First Quarter,2016-11-07,13:52
444552,DISTURBANCE - OTHER,2016-06-18 19:12:00,2016-06-18,1912,2016-06-18T00:00:00.000,NaN,NaT,NaN
497706,THEFT,2016-01-01 01:45:00,2016-01-01,145,2016-01-04T00:00:00.000,Last Quarter,2016-01-01,23:31
311039,CUSTODY ARREST TRAFFIC WARR,2017-08-29 17:25:00,2017-08-29,1725,2017-08-29T00:00:00.000,First Quarter,2017-08-29,3:14
663275,DWI,2014-08-01 21:53:00,2014-08-01,2153,2014-08-02T00:00:00.000,NaN,NaT,NaN
629680,ASSAULT BY CONTACT FAM/DATING,2014-11-10 14:29:00,2014-11-10,1429,2014-11-10T00:00:00.000,NaN,NaT,NaN
516923,DISTURBANCE - OTHER,2015-10-29 18:45:00,2015-10-29,1845,2015-10-29T00:00:00.000,NaN,NaT,NaN
419526,HARASSMENT,2016-09-08 13:00:00,2016-09-08,1300,2016-09-09T00:00:00.000,NaN,NaT,NaN
107759,FAMILY DISTURBANCE,2019-08-15 18:09:00,2019-08-15,1809,2019-08-15T00:00:00.000,Full Moon,2019-08-15,7:31
618046,CRIMINAL MISCHIEF,2014-12-17 21:00:00,2014-12-17,2100,2014-12-18T00:00:00.000,NaN,NaT,NaN
613579,BURGLARY OF VEHICLE,2015-01-02 07:00:00,2015-01-02,700,2015-01-02T00:00:00.000,NaN,NaT,NaN
576983,VIOL CITY ORDINANCE - OTHER,2015-04-27 10:21:00,2015-04-27,1021,2015-04-27T00:00:00.000,NaN,NaT,NaN
393026,DEBIT CARD ABUSE,2016-12-04 20:31:00,2016-12-04,2031,2016-12-04T00:00:00.000,NaN,NaT,NaN
410698,RUNAWAY CHILD,2016-10-06 15:22:00,2016-10-06,1522,2016-10-06T00:00:00.000,NaN,NaT,NaN
498842,THEFT,2015-12-28 12:00:00,2015-12-28,1200,2016-01-13T00:00:00.000,NaN,NaT,NaN
470267,THEFT,2016-03-29 07:20:00,2016-03-29,720,2016-03-29T00:00:00.000,NaN,NaT,NaN
170036,UNLAWFUL CARRYING WEAPON,2019-01-15 01:04:00,2019-01-15,104,2019-01-15T00:00:00.000,NaN,NaT,NaN
423043,DOC FIGHTING,2016-08-27 21:33:00,2016-08-27,2133,2016-08-27T00:00:00.000,NaN,NaT,NaN
472103,THEFT,2016-03-22 22:20:00,2016-03-22,2220,2016-03-24T00:00:00.000,NaN,NaT,NaN
284767,RUNAWAY CHILD,2017-11-29 13:35:00,2017-11-29,1335,2017-11-29T00:00:00.000,NaN,NaT,NaN
148124,THEFT BY SHOPLIFTING,2019-04-01 22:25:00,2019-04-01,2225,2019-04-01T00:00:00.000,NaN,NaT,NaN
111340,DISTURBANCE - OTHER,2019-08-03 17:30:00,2019-08-03,1730,2019-08-03T00:00:00.000,NaN,NaT,NaN
394,CRIMINAL MISCHIEF,2020-08-27 11:00:00,2020-08-27,1100,2020-08-28T00:00:00.000,NaN,NaT,NaN
120271,ASSAULT WITH INJURY,2019-07-05 10:58:00,2019-07-05,1058,2019-07-05T00:00:00.000,NaN,NaT,NaN
324892,CUSTODY ARREST TRAFFIC WARR,2017-07-13 22:35:00,2017-07-13,2235,2017-07-13T00:00:00.000,NaN,NaT,NaN
250094,HARASSMENT,2018-04-07 02:06:00,2018-04-07,206,2018-04-09T00:00:00.000,NaN,NaT,NaN
678538,FRAUD - OTHER,2014-06-18 12:00:00,2014-06-18,1200,2014-09-18T00:00:00.000,NaN,NaT,NaN
364810,DWI,2017-03-09 01:00:00,2017-03-09,100,2017-03-09T00:00:00.000,NaN,NaT,NaN
402766,FAMILY DISTURBANCE,2016-11-01 19:23:00,2016-11-01,1923,2016-11-01T00:00:00.000,NaN,NaT,NaN
356825,THEFT,2017-04-03 08:30:00,2017-04-03,830,2017-04-03T00:00:00.000,First Quarter,2017-04-03,13:40
479207,BURGLARY OF VEHICLE,2016-02-29 23:30:00,2016-02-29,2330,2016-03-01T00:00:00.000,NaN,NaT,NaN
658847,DISTURBANCE - OTHER,2014-08-14 21:10:00,2014-08-14,2110,2014-08-14T00:00:00.000,NaN,NaT,NaN
402122,UNLAWFUL CARRYING WEAPON,2016-11-03 23:53:00,2016-11-03,2353,2016-11-04T00:00:00.000,NaN,NaT,NaN
669052,CRIMINAL MISCHIEF,2014-07-16 00:00:00,2014-07-16,0,2014-07-17T00:00:00.000,NaN,NaT,NaN
363234,THEFT BY SHOPLIFTING,2017-03-14 01:03:00,2017-03-14,103,2017-03-14T00:00:00.000,NaN,NaT,NaN
695356,CRIMINAL MISCHIEF,2014-04-29 22:00:00,2014-04-29,2200,2014-04-29T00:00:00.000,New Moon,2014-04-29,1:17
456754,CRIMINAL MISCHIEF,2016-05-10 17:30:00,2016-05-10,1730,2016-05-11T00:00:00.000,NaN,NaT,NaN
536042,POSS CONTROLLED SUB/NARCOTIC,2015-08-29 21:10:00,2015-08-29,2110,2015-08-29T00:00:00.000,Full Moon,2015-08-29,13:37
354028,THEFT,2017-04-12 16:31:00,2017-04-12,1631,2017-04-24T00:00:00.000,NaN,NaT,NaN
471454,BURGLARY OF VEHICLE,2016-03-25 02:00:00,2016-03-25,200,2016-03-25T00:00:00.000,NaN,NaT,NaN
474250,IDENTITY THEFT,2016-03-16 11:03:00,2016-03-16,1103,2016-06-02T00:00:00.000,NaN,NaT,NaN
315873,DWI,2017-08-12 01:51:00,2017-08-12,151,2017-08-12T00:00:00.000,NaN,NaT,NaN
150699,THEFT,2019-03-23 23:59:00,2019-03-23,2359,2019-04-29T00:00:00.000,NaN,NaT,NaN

In [7]:
#create pivot table of the crime duplicates and sort to find top 50 reported crimes 
duplicates = crime_clean_df.pivot_table(index = 'crime_type', aggfunc= 'size')
#data series can sort index or sort values, default to sort by index so we want to sort by the values instead
duplicates.sort_values(ascending= False).head(50)

crime_type
FAMILY DISTURBANCE                67772
BURGLARY OF VEHICLE               63741
THEFT                             62289
CRIMINAL MISCHIEF                 35115
ASSAULT W/INJURY-FAM/DATE VIOL    22461
DISTURBANCE - OTHER               21832
THEFT BY SHOPLIFTING              20994
DWI                               18987
HARASSMENT                        17185
BURGLARY OF RESIDENCE             16814
ASSAULT WITH INJURY               16310
AUTO THEFT                        15362
RUNAWAY CHILD                     12995
POSSESSION OF MARIJUANA           12791
PUBLIC INTOXICATION               12474
WARRANT ARREST NON TRAFFIC        11788
POSS CONTROLLED SUB/NARCOTIC      11784
ASSAULT BY CONTACT                11653
BURGLARY NON RESIDENCE            10775
CRIMINAL TRESPASS                  9593
FRAUD - OTHER                      9140
THEFT OF BICYCLE                   8656
IDENTITY THEFT                     7941
CUSTODY ARREST TRAFFIC WARR        7709
POSS OF DRUG PARAPHERNALIA         7336
DATING DISTURBANCE                 6520
ASSAULT BY THREAT                  6084
DEBIT CARD ABUSE                   6080
CHILD CUSTODY INTERFERE            5611
ASSAULT BY CONTACT FAM/DATING      5555
CRED CARD ABUSE - OTHER            5415
AGG ASSAULT                        5137
FAMILY DISTURBANCE/PARENTAL        5045
TERRORISTIC THREAT                 4649
THEFT OF SERVICE                   4646
SUSPICIOUS PERSON                  4470
AGG ASLT STRANGLE/SUFFOCATE        3800
DWI 2ND                            3611
VIOL CITY ORDINANCE - OTHER        3455
THEFT OF LICENSE PLATE             3385
THEFT FROM AUTO                    3335
AGG ROBBERY/DEADLY WEAPON          3239
DWI  .15 BAC OR ABOVE              3107
CRASH/FAIL STOP AND RENDER AID     3105
THEFT FROM PERSON                  3040
FORGERY AND PASSING                3011
PROTECTIVE ORDER                   2468
GRAFFITI                           2403
AGG ASSAULT FAM/DATE VIOLENCE      2307
ROBBERY BY ASSAULT                 2187
dtype: int64

In [8]:
#replace one crime type with the more generic types ex "bicycle theft" to "theft", grouping like crimes in the top 50
#df["column1"].replace({"a": "x", "b": "y"}, inplace=True)
crime_grouped = crime_moon_df.replace({"THEFT BY SHOPLIFTING" : "THEFT", "AUTO THEFT" : "THEFT", "THEFT OF BICYCLE" : "THEFT", "THEFT OF SERVICE":"THEFT", "THEFT OF LICENSE PLATE": "THEFT",
                                       "THEFT FROM AUTO":"THEFT", "THEFT FROM PERSON":"THEFT", "THEFT FROM BUILDING":"THEFT", "THEFT OF TRAILER" :"THEFT",
                                       "DWI":"INTOXICATION CRIME", "PUBLIC INTOXICATION":"INTOXICATION CRIME", "DWI 2ND": "INTOXICATION CRIME", 
                                        "DWI  .15 BAC OR ABOVE": "INTOXICATION CRIME", "DRIVING WHILE INTOX / FELONY" : "INTOXICATION CRIME",
                                       "POSSESSION OF MARIJUANA": "DRUG RELATED", "POSS CONTROLLED SUB/NARCOTIC":"DRUG RELATED", "POSS OF DRUG PARAPHERNALIA":"DRUG RELATED",
                                       "ASSAULT WITH INJURY":"ASSAULT", "ASSAULT W/INJURY-FAM/DATE VIOL" : "ASSAULT", "ASSAULT BY CONTACT" :"ASSAULT", "ASSAULT BY THREAT": "ASSAULT",
                                       "ASSAULT BY CONTACT FAM/DATING": "ASSAULT", "AGG ASSAULT":"ASSAULT", "AGG ASLT STRANGLE/SUFFOCATE":"ASSAULT",
                                       "AGG ASSAULT FAM/DATE VIOLENCE": "ASSAULT", "FELONY ENHANCEMENT/ASSLT W/INJ" : "ASSAULT", "ASSAULT  CONTACT-SEXUAL NATURE" :"ASSAULT",
                                       "AGG ROBBERY/DEADLY WEAPON": "ROBBERY", "ROBBERY BY ASSAULT" :"ROBBERY",
                                       "BURGLARY OF VEHICLE":"BURGLARY", "BURGLARY OF SHED/DETACHED GARAGE/STORAGE UNIT" : "BURGLARY", "BURGLARY OF RESIDENCE" : "BURGLARY", "BURGLARY NON RESIDENCE" :"BURGLARY",
                                       "FRAUD - OTHER" :"FRAUD", "IDENTITY THEFT":"FRAUD", "FORGERY AND PASSING":"FRAUD", "CRED CARD ABUSE - OTHER":"FRAUD", "DEBIT CARD ABUSE":"FRAUD",
                                       "FAMILY DISTURBANCE":"DISTURBANCE","DATING DISTURBANCE":"DISTURBANCE","FAMILY DISTURBANCE/PARENTAL":"DISTURBANCE","DISTURBANCE - OTHER":"DISTURBANCE"})

crime_grouped.head()

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
0,BURGLARY,2020-08-28 19:00:00,2020-08-28,1900,2020-08-28T00:00:00.000,NaN,NaT,NaN
1,DISTURBANCE,2020-08-28 18:57:00,2020-08-28,1857,2020-08-28T00:00:00.000,NaN,NaT,NaN
2,ASSAULT,2020-08-28 18:55:00,2020-08-28,1855,2020-08-28T00:00:00.000,NaN,NaT,NaN
3,DISTURBANCE,2020-08-28 18:50:00,2020-08-28,1850,2020-08-28T00:00:00.000,NaN,NaT,NaN
4,BURGLARY,2020-08-28 18:47:00,2020-08-28,1847,2020-08-28T00:00:00.000,NaN,NaT,NaN

In [9]:
duplicate_groups = crime_grouped.pivot_table(index = 'crime_type', aggfunc= 'size')
duplicate_groups.sort_values(ascending= False).head(50)

#cut the small database at runaway child

crime_type
THEFT                             124599
DISTURBANCE                       101169
BURGLARY                           93318
ASSAULT                            76264
INTOXICATION CRIME                 39901
CRIMINAL MISCHIEF                  35115
DRUG RELATED                       31911
FRAUD                              31587
HARASSMENT                         17185
RUNAWAY CHILD                      12995
WARRANT ARREST NON TRAFFIC         11788
CRIMINAL TRESPASS                   9593
CUSTODY ARREST TRAFFIC WARR         7709
CHILD CUSTODY INTERFERE             5611
ROBBERY                             5426
TERRORISTIC THREAT                  4649
SUSPICIOUS PERSON                   4470
VIOL CITY ORDINANCE - OTHER         3455
CRASH/FAIL STOP AND RENDER AID      3105
PROTECTIVE ORDER                    2468
GRAFFITI                            2403
VIOL OF PROTECTIVE ORDER            2068
FAILURE TO IDENTIFY                 1856
DAMAGE CITY PROP                    1843
RAPE                                1826
DOC FIGHTING                        1741
ASSAULT BY THREAT FAM/DATING        1563
CRIMINAL TRESPASS/TRANSIENT         1551
THEFT OF AUTO PARTS                 1532
DEL CONTROLLED SUB/NARCOTIC         1516
UNLAWFUL CARRYING WEAPON            1481
EVADING / FOOT                      1308
EVADING VEHICLE                     1297
TERRORISTIC THREAT-FAM/DAT VIO      1229
INDECENT EXPOSURE                   1228
CRUELTY TO ANIMALS                  1112
VIOL STATE LAW - OTHER              1049
FEDERAL VIOL/OTHER                  1048
VIOL OF EMERG PROTECTIVE ORDER      1018
POSS SYNTHETIC MARIJUANA             998
MAIL THEFT                           964
DEADLY CONDUCT                       961
CHILD ENDANGERMENT- ABANDONMEN       927
DWI - DRUG RECOGNITION EXPERT        921
VIOL CITY ORDINANCE - DOG            921
ASSAULT ON PUBLIC SERVANT            886
PROSTITUTION                         871
POSS CONTROLLED SUB/SYN NARC         863
INJURY TO CHILD                      813
INDECENCY WITH A CHILD/CONTACT       789
dtype: int64

In [10]:
#create a df with only full moon phases 
full_moon_list = ['Full Moon']

full_moon_df = crime_grouped.loc[crime_grouped['Lunar Phase'].isin(full_moon_list)]

full_moon_df.sample(10)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
372592,BURGLARY,2017-02-10 20:00:00,2017-02-10,2000,2017-02-11T00:00:00.000,Full Moon,2017-02-10,18:33
176208,ASSAULT,2018-12-22 15:38:00,2018-12-22,1538,2018-12-28T00:00:00.000,Full Moon,2018-12-22,11:50
481556,FRAUD,2016-02-22 00:01:00,2016-02-22,1,2016-03-15T00:00:00.000,Full Moon,2016-02-22,12:20
660195,INTOXICATION CRIME,2014-08-10 20:07:00,2014-08-10,2007,2014-08-10T00:00:00.000,Full Moon,2014-08-10,13:10
335754,ASSAULT,2017-06-09 17:15:00,2017-06-09,1715,2017-06-09T00:00:00.000,Full Moon,2017-06-09,8:11
555327,RUNAWAY CHILD,2015-07-01 23:00:00,2015-07-01,2300,2015-07-02T00:00:00.000,Full Moon,2015-07-01,21:22
381744,THEFT,2017-01-12 10:00:00,2017-01-12,1000,2017-01-14T00:00:00.000,Full Moon,2017-01-12,5:35
15203,ASSAULT,2020-07-04 01:38:00,2020-07-04,138,2020-07-04T00:00:00.000,Full Moon,2020-07-04,23:44
650603,HARASSMENT,2014-09-08 13:04:00,2014-09-08,1304,2014-09-08T00:00:00.000,Full Moon,2014-09-08,20:38
443986,DISTURBANCE,2016-06-20 17:01:00,2016-06-20,1701,2016-06-20T00:00:00.000,Full Moon,2016-06-20,6:04

In [11]:
new_moon_list = ['New Moon']

new_moon_df = crime_grouped.loc[crime_grouped['Lunar Phase'].isin(new_moon_list)]

new_moon_df.sample(10)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
421687,DRUG RELATED,2016-09-01 11:35:00,2016-09-01,1135,2016-09-01T00:00:00.000,New Moon,2016-09-01,4:04
675326,THEFT,2014-06-27 17:10:00,2014-06-27,1710,2014-06-27T00:00:00.000,New Moon,2014-06-27,3:10
403560,ASSAULT,2016-10-30 09:33:00,2016-10-30,933,2016-10-30T00:00:00.000,New Moon,2016-10-30,12:39
412527,DISTURBANCE,2016-09-30 22:23:00,2016-09-30,2223,2016-09-30T00:00:00.000,New Moon,2016-09-30,19:13
313008,ASSAULT,2017-08-21 21:33:00,2017-08-21,2133,2017-08-21T00:00:00.000,New Moon,2017-08-21,13:31
550851,FRAUD,2015-07-15 12:00:00,2015-07-15,1200,2015-07-16T00:00:00.000,New Moon,2015-07-15,20:26
206133,DISTURBANCE,2018-09-09 05:12:00,2018-09-09,512,2018-09-09T00:00:00.000,New Moon,2018-09-09,13:02
531208,THEFT,2015-09-13 18:30:00,2015-09-13,1830,2015-09-13T00:00:00.000,New Moon,2015-09-13,1:42
394613,CRIMINAL MISCHIEF,2016-11-29 18:45:00,2016-11-29,1845,2016-11-29T00:00:00.000,New Moon,2016-11-29,6:19
476667,HARASSMENT,2016-03-08 16:08:00,2016-03-08,1608,2016-03-22T00:00:00.000,New Moon,2016-03-08,19:55

In [12]:
#create a list of only the crimes we want               
crime_list = ['THEFT', 'DISTURBANCE', 'BURGLARY', 'ASSAULT', 'INTOXICATION CRIME', 'CRIMINAL MISCHIEF', 'DRUG RELATED', 'FRAUD', 'HARASSMENT', 'RUNAWAY CHILD']

top_crime_df = crime_grouped.loc[crime_grouped['crime_type'].isin(crime_list)]

top_crime_df.sample(50)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
238775,CRIMINAL MISCHIEF,2018-05-17 11:00:00,2018-05-17,1100,2018-05-17T00:00:00.000,NaN,NaT,NaN
131624,THEFT,2019-05-28 11:51:00,2019-05-28,1151,2019-06-07T00:00:00.000,NaN,NaT,NaN
455263,THEFT,2016-05-15 13:39:00,2016-05-15,1339,2016-09-06T00:00:00.000,NaN,NaT,NaN
222693,CRIMINAL MISCHIEF,2018-07-12 22:00:00,2018-07-12,2200,2018-07-13T00:00:00.000,New Moon,2018-07-12,21:49
306681,ASSAULT,2017-09-13 10:10:00,2017-09-13,1010,2017-09-13T00:00:00.000,Last Quarter,2017-09-13,1:26
323200,INTOXICATION CRIME,2017-07-19 10:15:00,2017-07-19,1015,2017-07-19T00:00:00.000,NaN,NaT,NaN
266823,THEFT,2018-02-05 19:26:00,2018-02-05,1926,2018-02-05T00:00:00.000,NaN,NaT,NaN
652212,DISTURBANCE,2014-09-03 16:27:00,2014-09-03,1627,2014-09-03T00:00:00.000,NaN,NaT,NaN
26480,THEFT,2020-05-23 17:18:00,2020-05-23,1718,2020-05-23T00:00:00.000,NaN,NaT,NaN
422828,FRAUD,2016-08-28 16:01:00,2016-08-28,1601,2016-09-12T00:00:00.000,NaN,NaT,NaN
52910,BURGLARY,2020-02-18 05:34:00,2020-02-18,534,2020-02-18T00:00:00.000,NaN,NaT,NaN
680506,ASSAULT,2014-06-12 19:30:00,2014-06-12,1930,2014-06-12T00:00:00.000,Full Moon,2014-06-12,23:13
660095,INTOXICATION CRIME,2014-08-11 01:06:00,2014-08-11,106,2014-08-11T00:00:00.000,NaN,NaT,NaN
274790,FRAUD,2018-01-06 12:00:00,2018-01-06,1200,2018-01-08T00:00:00.000,NaN,NaT,NaN
84340,HARASSMENT,2019-11-01 12:00:00,2019-11-01,1200,2020-07-22T00:00:00.000,NaN,NaT,NaN
209163,THEFT,2018-08-29 16:00:00,2018-08-29,1600,2018-08-29T00:00:00.000,NaN,NaT,NaN
192731,BURGLARY,2018-10-25 18:30:00,2018-10-25,1830,2018-10-26T00:00:00.000,NaN,NaT,NaN
73420,ASSAULT,2019-12-08 10:40:00,2019-12-08,1040,2019-12-08T00:00:00.000,NaN,NaT,NaN
557584,DRUG RELATED,2015-06-25 10:00:00,2015-06-25,1000,2015-06-26T00:00:00.000,NaN,NaT,NaN
60879,ASSAULT,2020-01-21 23:08:00,2020-01-21,2308,2020-01-21T00:00:00.000,NaN,NaT,NaN
144013,ASSAULT,2019-04-16 14:52:00,2019-04-16,1452,2019-04-16T00:00:00.000,NaN,NaT,NaN
79303,THEFT,2019-11-18 18:00:00,2019-11-18,1800,2019-11-19T00:00:00.000,NaN,NaT,NaN
352941,BURGLARY,2017-04-15 20:00:00,2017-04-15,2000,2017-04-16T00:00:00.000,NaN,NaT,NaN
534593,THEFT,2015-09-03 01:38:00,2015-09-03,138,2015-09-03T00:00:00.000,NaN,NaT,NaN
477872,DISTURBANCE,2016-03-04 23:18:00,2016-03-04,2318,2016-03-04T00:00:00.000,NaN,NaT,NaN
453634,THEFT,2016-05-20 20:00:00,2016-05-20,2000,2016-05-21T00:00:00.000,NaN,NaT,NaN
69,DISTURBANCE,2020-08-28 14:38:00,2020-08-28,1438,2020-08-28T00:00:00.000,NaN,NaT,NaN
495402,CRIMINAL MISCHIEF,2016-01-08 15:48:00,2016-01-08,1548,2016-01-08T00:00:00.000,NaN,NaT,NaN
480486,DISTURBANCE,2016-02-25 19:44:00,2016-02-25,1944,2016-02-25T00:00:00.000,NaN,NaT,NaN
92025,THEFT,2019-10-06 12:00:00,2019-10-06,1200,2019-10-30T00:00:00.000,NaN,NaT,NaN
199646,THEFT,2018-10-01 15:55:00,2018-10-01,1555,2019-04-26T00:00:00.000,NaN,NaT,NaN
287153,FRAUD,2017-11-20 09:00:00,2017-11-20,900,2017-11-20T00:00:00.000,NaN,NaT,NaN
610545,FRAUD,2015-01-12 16:35:00,2015-01-12,1635,2015-01-12T00:00:00.000,NaN,NaT,NaN
623206,FRAUD,2014-12-01 17:25:00,2014-12-01,1725,2014-12-01T00:00:00.000,NaN,NaT,NaN
41621,DISTURBANCE,2020-03-28 00:11:00,2020-03-28,11,2020-03-28T00:00:00.000,NaN,NaT,NaN
295003,DISTURBANCE,2017-10-23 11:15:00,2017-10-23,1115,2017-10-23T00:00:00.000,NaN,NaT,NaN
447628,BURGLARY,2016-06-08 22:30:00,2016-06-08,2230,2016-06-09T00:00:00.000,NaN,NaT,NaN
644567,DISTURBANCE,2014-09-26 22:50:00,2014-09-26,2250,2014-09-26T00:00:00.000,NaN,NaT,NaN
678923,ASSAULT,2014-06-17 11:00:00,2014-06-17,1100,2014-06-18T00:00:00.000,NaN,NaT,NaN
353338,DISTURBANCE,2017-04-14 16:21:00,2017-04-14,1621,2017-04-14T00:00:00.000,NaN,NaT,NaN
138287,DRUG RELATED,2019-05-06 12:34:00,2019-05-06,1234,2019-05-06T00:00:00.000,NaN,NaT,NaN
405192,FRAUD,2016-10-24 19:27:00,2016-10-24,1927,2016-10-28T00:00:00.000,NaN,NaT,NaN
432609,THEFT,2016-07-27 18:20:00,2016-07-27,1820,2016-07-27T00:00:00.000,NaN,NaT,NaN
445253,RUNAWAY CHILD,2016-06-16 14:18:00,2016-06-16,1418,2016-06-16T00:00:00.000,NaN,NaT,NaN
68482,THEFT,2019-12-26 09:36:00,2019-12-26,936,2019-12-26T00:00:00.000,NaN,NaT,NaN
247141,DISTURBANCE,2018-04-17 18:43:00,2018-04-17,1843,2018-04-17T00:00:00.000,NaN,NaT,NaN
264881,ASSAULT,2018-02-13 12:32:00,2018-02-13,1232,2018-02-13T00:00:00.000,NaN,NaT,NaN
674894,THEFT,2014-06-28 22:00:00,2014-06-28,2200,2014-06-29T00:00:00.000,NaN,NaT,NaN
437175,BURGLARY,2016-07-12 07:30:00,2016-07-12,730,2016-07-12T00:00:00.000,NaN,NaT,NaN
556553,THEFT,2015-06-28 12:00:00,2015-06-28,1200,2015-06-28T00:00:00.000,NaN,NaT,NaN

In [13]:
intox_list = ['INTOXICATION CRIME']

intox_crime_df = crime_grouped.loc[crime_grouped['crime_type'].isin(intox_list)]

intox_crime_df.sample(10)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
546033,INTOXICATION CRIME,2015-07-30 00:45:00,2015-07-30,45,2015-07-30T00:00:00.000,NaN,NaT,NaN
109449,INTOXICATION CRIME,2019-08-09 23:10:00,2019-08-09,2310,2019-08-09T00:00:00.000,NaN,NaT,NaN
407631,INTOXICATION CRIME,2016-10-16 20:57:00,2016-10-16,2057,2016-10-16T00:00:00.000,NaN,NaT,NaN
311218,INTOXICATION CRIME,2017-08-28 23:20:00,2017-08-28,2320,2017-08-28T00:00:00.000,NaN,NaT,NaN
353004,INTOXICATION CRIME,2017-04-15 15:28:00,2017-04-15,1528,2017-04-15T00:00:00.000,NaN,NaT,NaN
566336,INTOXICATION CRIME,2015-05-30 02:29:00,2015-05-30,229,2015-05-30T00:00:00.000,NaN,NaT,NaN
283978,INTOXICATION CRIME,2017-12-01 23:37:00,2017-12-01,2337,2017-12-02T00:00:00.000,NaN,NaT,NaN
244757,INTOXICATION CRIME,2018-04-26 00:05:00,2018-04-26,5,2018-04-26T00:00:00.000,NaN,NaT,NaN
579355,INTOXICATION CRIME,2015-04-20 01:30:00,2015-04-20,130,2015-04-20T00:00:00.000,NaN,NaT,NaN
357881,INTOXICATION CRIME,2017-03-31 02:10:00,2017-03-31,210,2017-03-31T00:00:00.000,NaN,NaT,NaN

In [14]:
assault_list = ['ASSAULT']

assault_df = crime_grouped.loc[crime_grouped['crime_type'].isin(assault_list)]

assault_df.sample(10)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
677318,ASSAULT,2014-06-21 22:00:00,2014-06-21,2200,2014-06-22T00:00:00.000,NaN,NaT,NaN
416519,ASSAULT,2016-09-17 22:00:00,2016-09-17,2200,2016-09-22T00:00:00.000,NaN,NaT,NaN
292817,ASSAULT,2017-10-31 05:21:00,2017-10-31,521,2017-10-31T00:00:00.000,NaN,NaT,NaN
624402,ASSAULT,2014-11-27 18:25:00,2014-11-27,1825,2014-11-27T00:00:00.000,NaN,NaT,NaN
394289,ASSAULT,2016-11-30 19:07:00,2016-11-30,1907,2016-11-30T00:00:00.000,NaN,NaT,NaN
416314,ASSAULT,2016-09-18 16:00:00,2016-09-18,1600,2016-09-19T00:00:00.000,NaN,NaT,NaN
691669,ASSAULT,2014-05-10 11:40:00,2014-05-10,1140,2014-05-10T00:00:00.000,NaN,NaT,NaN
495662,ASSAULT,2016-01-07 18:31:00,2016-01-07,1831,2016-01-07T00:00:00.000,NaN,NaT,NaN
626438,ASSAULT,2014-11-21 10:11:00,2014-11-21,1011,2014-11-21T00:00:00.000,NaN,NaT,NaN
309917,ASSAULT,2017-09-02 01:30:00,2017-09-02,130,2017-09-09T00:00:00.000,NaN,NaT,NaN

In [15]:
steal_list = ['THEFT', 'BURGLARY']

steal_df = crime_grouped.loc[crime_grouped['crime_type'].isin(steal_list)]

steal_df.sample(10)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
224398,THEFT,2018-07-06 16:30:00,2018-07-06,1630,2018-07-07T00:00:00.000,Last Quarter,2018-07-06,2:52
228121,BURGLARY,2018-06-23 16:00:00,2018-06-23,1600,2018-06-23T00:00:00.000,NaN,NaT,NaN
50914,THEFT,2020-02-24 21:20:00,2020-02-24,2120,2020-02-24T00:00:00.000,NaN,NaT,NaN
160747,THEFT,2019-02-16 22:30:00,2019-02-16,2230,2019-02-17T00:00:00.000,NaN,NaT,NaN
647204,THEFT,2014-09-18 21:30:00,2014-09-18,2130,2014-09-19T00:00:00.000,NaN,NaT,NaN
424196,THEFT,2016-08-24 12:00:00,2016-08-24,1200,2016-08-30T00:00:00.000,Last Quarter,2016-08-24,22:44
599589,BURGLARY,2015-02-16 20:30:00,2015-02-16,2030,2015-02-17T00:00:00.000,NaN,NaT,NaN
176217,BURGLARY,2018-12-22 15:00:00,2018-12-22,1500,2018-12-22T00:00:00.000,Full Moon,2018-12-22,11:50
308019,THEFT,2017-09-08 17:00:00,2017-09-08,1700,2017-09-08T00:00:00.000,NaN,NaT,NaN
192853,THEFT,2018-10-25 04:18:00,2018-10-25,418,2018-10-25T00:00:00.000,NaN,NaT,NaN

In [16]:
drug_list = ['DRUG RELATED']

drug_df = crime_grouped.loc[crime_grouped['crime_type'].isin(drug_list)]

drug_df.sample(10)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
596276,DRUG RELATED,2015-02-27 13:54:00,2015-02-27,1354,2015-02-27T00:00:00.000,NaN,NaT,NaN
216123,DRUG RELATED,2018-08-04 22:56:00,2018-08-04,2256,2018-08-04T00:00:00.000,Last Quarter,2018-08-04,13:19
477885,DRUG RELATED,2016-03-04 22:28:00,2016-03-04,2228,2016-03-04T00:00:00.000,NaN,NaT,NaN
522244,DRUG RELATED,2015-10-11 22:44:00,2015-10-11,2244,2015-10-11T00:00:00.000,NaN,NaT,NaN
329788,DRUG RELATED,2017-06-28 20:41:00,2017-06-28,2041,2017-06-28T00:00:00.000,NaN,NaT,NaN
415277,DRUG RELATED,2016-09-22 02:32:00,2016-09-22,232,2016-09-22T00:00:00.000,NaN,NaT,NaN
70138,DRUG RELATED,2019-12-20 03:10:00,2019-12-20,310,2019-12-20T00:00:00.000,NaN,NaT,NaN
268442,DRUG RELATED,2018-01-30 19:47:00,2018-01-30,1947,2018-01-30T00:00:00.000,NaN,NaT,NaN
516855,DRUG RELATED,2015-10-29 23:35:00,2015-10-29,2335,2015-10-29T00:00:00.000,NaN,NaT,NaN
303816,DRUG RELATED,2017-09-22 23:34:00,2017-09-22,2334,2017-09-22T00:00:00.000,NaN,NaT,NaN