In [1]:
#!pip install node
#!pip install npm
#!pip install sodapy
from sodapy import Socrata
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import os
import datetime

from config import austin_key
from config import austin_app

In [2]:
#need to install extensions in vscode for instant markdown(by david bankier)
#allows you to open a readme inside vscode that looks how the formatting should when you load it to git hub 
#allows you to real time edit the readme and you can see how the readme formatting changes in git hub 
#concept of bullets in markdown is asterisk (will be formatted as bullets in the git file)
#*italic*
#**bold**
#***bold italic***
#--- will create a separating line across the file
#insert pictures with [caption](link to pic in file structure)  ex. ()
# number of ## in front of the text will change the size (more # means bigger font)
# tab indent below a bullet with another * will format a hollow sub bulllet
# using the `` around a phrase will format it as a code snippet (gray background and typewriter font)
# ||| will be a column separator to make tables from scratch
#|header 1|header 2
#------|-----
#|h1 data|h2 data
# : tells the table where to align the words (-----: rt align :----- left align)
#check out markdown cheat sheet on wikipedia

In [51]:
#not going to use the FBI data because it is submitted annually by the individual agencies so the data in the reports is compiled on an annual basis 
#we need data that is by day so we can see trends across the monthly 
#api_key=fbi_api_key
#state = "state"
#url = "https://api.usa.gov/crime/fbi/sapi/"
#query_url = f"https://api.usa.gov/crime/fbi/sapi/api/summarized/agencies/TX1010000/homicide/2017/2019?API_KEY=iiHnOKfno2Mgkt5AynpvPpUQTEyxE77jo1RU8PIv"
#query_url
#client = Socrata("data.austintexas.gov", None)
#results = client.get("fdj4-gpfu", limit=2000)
#results_df = pd.DataFrame.from_records(results)

#results_df.head()

app_token= austin_app

url = "https://data.austintexas.gov/resource/fdj4-gpfu.json?"
#crime_history = pd.DataFrame()
i=1
for i in range (1, 15):
    
    app_token= austin_app
    crime= "DEL CONTROLLED SUB/NARCOTIC"


    query_url = f"{url}$$app_token={app_token}&$limit=50000&$offset={50000*i}"
    response = requests.get(query_url).json()
    if i == 1:
        crime_history=pd.DataFrame(response)
        
    else:
        
        crime_history=crime_history.append(response)
crime_history.count()

incident_report_number         700000
crime_type                     700000
ucr_code                       700000
family_violence                700000
occ_date_time                  700000
occ_date                       700000
occ_time                       700000
rep_date_time                  700000
rep_date                       700000
rep_time                       700000
location_type                  696722
address                        700000
zip_code                       694763
council_district               692873
sector                         696460
district                       696307
pra                            695469
clearance_status               629473
clearance_date                 629463
x_coordinate                   695763
y_coordinate                   695763
latitude                       686008
longitude                      686008
location                       686008
:@computed_region_a3it_2a2z    685989
:@computed_region_8spj_utxs    683921
:@computed_region_q9nd_rr82    684727
:@computed_region_qwte_z96m    364110
ucr_category                   241963
category_description           241963
census_tract                   180710
dtype: int64

In [94]:
#response = requests.get(query_url).json()
#response[1]['crime_type']
#print(json.dumps(response, indent=4))

#check how far back the dates go for the pagination 
crime_history['occ_date'].min()

'2014-04-09T00:00:00.000'

In [95]:
crime_df = pd.DataFrame(crime_history)
crime_df.head()
#if you want to group your data by time you have to do resample not .groupby(), can resample by days or by months, check time example pushed out last week
#compare if crime occurs more at night consistently vs increasing during full moon

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,occ_date,occ_time,rep_date_time,rep_date,rep_time,...,latitude,longitude,location,:@computed_region_a3it_2a2z,:@computed_region_8spj_utxs,:@computed_region_q9nd_rr82,:@computed_region_qwte_z96m,ucr_category,category_description,census_tract
0,20202331438,FAMILY DISTURBANCE,3400,N,2020-08-20T22:08:00.000,2020-08-20T00:00:00.000,2208,2020-08-20T22:08:00.000,2020-08-20T00:00:00.000,2208,...,30.29880686,-97.69488835,"{'latitude': '30.29880686', 'longitude': '-97....",3239,9,10,3144,NaN,NaN,NaN
1,20202331327,FAMILY DISTURBANCE,3400,N,2020-08-20T22:07:00.000,2020-08-20T00:00:00.000,2207,2020-08-20T22:07:00.000,2020-08-20T00:00:00.000,2207,...,30.22563089,-97.70573322,"{'latitude': '30.22563089', 'longitude': '-97....",3256,3,3,1760,NaN,NaN,NaN
2,20202331435,ASSAULT W/INJURY-FAM/DATE VIOL,900,Y,2020-08-20T22:07:00.000,2020-08-20T00:00:00.000,2207,2020-08-20T22:07:00.000,2020-08-20T00:00:00.000,2207,...,30.26922352,-97.69513602,"{'latitude': '30.26922352', 'longitude': '-97....",2864,1,8,NaN,NaN,NaN,NaN
3,20205032914,BURGLARY OF VEHICLE,601,N,2020-08-20T22:00:00.000,2020-08-20T00:00:00.000,2200,2020-08-21T15:26:00.000,2020-08-21T00:00:00.000,1526,...,30.39369824,-97.73929471,"{'latitude': '30.39369824', 'longitude': '-97....",3647,7,7,3253,23F,Theft,NaN
4,20202331424,FAMILY DISTURBANCE,3400,N,2020-08-20T21:59:00.000,2020-08-20T00:00:00.000,2159,2020-08-20T22:22:00.000,2020-08-20T00:00:00.000,2222,...,30.27877475,-97.67195423,"{'latitude': '30.27877475', 'longitude': '-97....",2864,1,8,122,NaN,NaN,NaN

In [125]:
crime_clean_df = crime_df[["crime_type", "occ_date_time", "occ_date", "rep_date"]].copy()
crime_clean_df.describe()
#checking if occurence is actualy date/time
#crime_clean_df.dtypes
#convert to datetime object 
#pd.to_datetime(crime_clean_df['occ_date_time'])
#put back into dataframe overwrite column
crime_clean_df['occ_date_time']= pd.to_datetime(crime_clean_df['occ_date_time'])
crime_clean_df.head()

,crime_type,occ_date_time,occ_date,rep_date
0,FAMILY DISTURBANCE,2020-08-20 22:08:00,2020-08-20T00:00:00.000,2020-08-20T00:00:00.000
1,FAMILY DISTURBANCE,2020-08-20 22:07:00,2020-08-20T00:00:00.000,2020-08-20T00:00:00.000
2,ASSAULT W/INJURY-FAM/DATE VIOL,2020-08-20 22:07:00,2020-08-20T00:00:00.000,2020-08-20T00:00:00.000
3,BURGLARY OF VEHICLE,2020-08-20 22:00:00,2020-08-20T00:00:00.000,2020-08-21T00:00:00.000
4,FAMILY DISTURBANCE,2020-08-20 21:59:00,2020-08-20T00:00:00.000,2020-08-20T00:00:00.000

In [126]:
#think of some crimes you think are more or less likely to be committed under a full moon/ at night etc
#adding databases together vertically will be concatenate; filter databases down to crime type and occurence date 
#pd.concat[]
#all_crimes = [response[i]['crime_type'] for i in range (len(response))]
#set(all_crimes)


#check all of the unique crime names
crime_type = crime_clean_df.crime_type.unique()
#crime_type

In [116]:
#create pivot table of the crime duplicates and sort to find top 50 reported crimes 
duplicates = crime_clean_df.pivot_table(index = 'crime_type', aggfunc= 'size')
#data series can sort index or sort values, default to sort by index so we want to sort by the values instead
duplicates.sort_values(ascending= False).head(50)

crime_type
FAMILY DISTURBANCE                67762
BURGLARY OF VEHICLE               63666
THEFT                             62316
CRIMINAL MISCHIEF                 35123
ASSAULT W/INJURY-FAM/DATE VIOL    22474
DISTURBANCE - OTHER               21848
THEFT BY SHOPLIFTING              21023
DWI                               19012
HARASSMENT                        17149
BURGLARY OF RESIDENCE             16845
ASSAULT WITH INJURY               16308
AUTO THEFT                        15318
RUNAWAY CHILD                     13025
POSSESSION OF MARIJUANA           12846
PUBLIC INTOXICATION               12507
WARRANT ARREST NON TRAFFIC        11854
POSS CONTROLLED SUB/NARCOTIC      11792
ASSAULT BY CONTACT                11652
BURGLARY NON RESIDENCE            10741
CRIMINAL TRESPASS                  9572
FRAUD - OTHER                      9139
THEFT OF BICYCLE                   8631
IDENTITY THEFT                     7910
CUSTODY ARREST TRAFFIC WARR        7750
POSS OF DRUG PARAPHERNALIA         7344
DATING DISTURBANCE                 6517
DEBIT CARD ABUSE                   6077
ASSAULT BY THREAT                  6069
CHILD CUSTODY INTERFERE            5581
ASSAULT BY CONTACT FAM/DATING      5546
CRED CARD ABUSE - OTHER            5412
AGG ASSAULT                        5129
FAMILY DISTURBANCE/PARENTAL        5050
THEFT OF SERVICE                   4651
TERRORISTIC THREAT                 4643
SUSPICIOUS PERSON                  4450
AGG ASLT STRANGLE/SUFFOCATE        3793
DWI 2ND                            3618
VIOL CITY ORDINANCE - OTHER        3483
THEFT OF LICENSE PLATE             3375
THEFT FROM AUTO                    3339
AGG ROBBERY/DEADLY WEAPON          3233
DWI  .15 BAC OR ABOVE              3114
CRASH/FAIL STOP AND RENDER AID     3096
THEFT FROM PERSON                  3041
FORGERY AND PASSING                3001
PROTECTIVE ORDER                   2469
GRAFFITI                           2409
AGG ASSAULT FAM/DATE VIOLENCE      2300
ROBBERY BY ASSAULT                 2193
dtype: int64

In [107]:
#replace one crime type with the more generic types ex "bicycle theft" to "theft"

KeyError: 'size'